* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*header*/

.top-nav {
  background-color: peachpuff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav h1 {
  margin: 0;
  font-family: fantasy;
  font-size: 40px;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-nav li {
  display: inline-block;
  margin-right: 20px;
}

.top-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top-nav a:hover {
  color: red;
}

/*hero banner*/

.hero-banner {
  text-align: center;
  background-color: skyblue; 
  padding: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: auto; 
  height: 600px; 
  border-radius: 50%; 
  margin-bottom: 20px; 
}

.hero-banner h2 {
  margin: 0;
}
/*Portfolio container*/
.image-link {
  position: relative;
  display: inline-block;
}

.image-link img {
  width: 100%; /* Ensure the image takes the full width of the container */
  border-radius: 8px; /* Add rounded corners to the image if desired */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Set the text color */
}

.text-overlay p {
  margin: 0;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}

.first-image {
  width: 200%; /* Adjust the width of the first image as needed */
}

/* Arrange other images in two columns */
.work-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between images */
}

/* Apply styles to image links and text overlay */
.image-link {
  position: relative;
  display: block; /* Change from inline-block to block to fill the grid columns */
}

.image-link img {
  width: 100%; /* Ensure the image takes the full width of its container */
  border-radius: 8px; /* Add rounded corners to the image if desired */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Set the text color */
}

.text-overlay p {
  margin: 0;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}

/*contact*/
.contact {
  text-align: center;
  
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 23px;
}
